<form>
  <div class="form-group">
    <label for="title">Listing Title</label>
    {{input value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="owner">Listing Owner</label>
    {{input value=owner id="owner"}}
  </div>
  <div class="form-group">
    <label for="body">Listing Body</label>
    {{input value=body id="body" width='5' required=true}}
  </div>
  <div class="form-group">
    <label for="category">Listing Category</label>
    {{#x-select value=category}}
        {{#x-option disabled selected }}Select a category{{/x-option}}
      {{#each model as |category|}}
        {{#x-option value=category}}{{category.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>

  <!-- {{input type='hidden' value=current-date}} -->
  <span id='listing-error'></span>
  <button type='submit' class="btn btn-primary" {{action "addListing"}}>Add Listing</button>
</form>

{{yield}}
